<h1>Add a Room</h1>
<form action="/rooms" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name">

  <label for="price">Price: </label>
  <input type="number" name="price">

  <button type="submit">Add this room</button>
</form>